In [1]:
import pandas as pd
import numpy as nm

In [2]:
data=pd.read_csv('DataRadio.csv')

data.head()

In [3]:

data['datetime_in']=pd.to_datetime(data['date']+' '+data['btime'])
data['datetime_out']=pd.to_datetime(data['date2']+' '+data['btime2'],errors='coerce')

In [4]:
data.head()

,n1radiolog,n2age,n3gender,n4modepaym,n5referrin,n6imagingm,n7examinat,date,btime,n9paymenti,...,timein,btimeout,date1,btime1,diffhrs,date2,btime2,daysdiff,datetime_in,datetime_out
0,44952,24,1,1,4,2,CT HEAD,7/27/2022,8:54:00,9:13:00,...,10:04:00,10:48:00,7/29/2022,108:37:00,96,8/4/2022,9:33:00,4,2022-07-27 08:54:00,2022-08-04 09:33:00
1,49459,48,2,1,4,3,REGIONAL UN,8/8/2022,8:02:00,8:53:00,...,9:55:00,10:01:00,8/18/2022,260:03:00,240,8/18/2022,10:09:00,10,2022-08-08 08:02:00,2022-08-18 10:09:00
2,49459,48,1,1,4,3,REGIONAL UN,8/18/2022,8:02:00,8:53:00,...,9:55:00,10:01:00,8/18/2022,10:03:00,0,8/18/2022,10:09:00,0,2022-08-18 08:02:00,2022-08-18 10:09:00
3,50177,60,1,1,4,2,CT HEAD,8/23/2022,10:03:00,10:44:00,...,11:38:00,11:49:00,8/26/2022,84:53:00,72,8/29/2022,9:34:00,3,2022-08-23 10:03:00,2022-08-29 09:34:00
4,44952,,1,2,4,2,CT HEAD,7/27/2022,7:04:00,8:54:00,...,11:12:00,11:02:00,7/29/2022,10:11:00,48,8/2/2022,10:04:00,2,2022-07-27 07:04:00,2022-08-02 10:04:00

In [5]:
data['date_time_difference']=data['datatime_out']-data['datatime_in']

KeyError: 'datatime_out'

In [ ]:
data.head()

In [ ]:
import seaborn as sns

In [ ]:
sns.countplot(x='n4modepaym',data=data)

In [ ]:
ds=data.describe()

In [ ]:
ds

In [ ]:
data.to_csv('updated.csv')