In [1]:
import pandas as pd

In [2]:
knndata=pd.read_csv('logistic_data.csv')

In [3]:
knndata

    BUSAGE  DAYSDELQ DEFAULT
0       87         2       N
1       89         2       N
2       90         2       N
3       90         2       N
4      101         2       N
..     ...       ...     ...
95     207        70       Y
96     229        70       Y
97      65        72       Y
98      37        76       Y
99      73        80       Y

[100 rows x 3 columns]

In [4]:
x=knndata.iloc[:,:-1]
y=pd.get_dummies(knndata['DEFAULT'])
y=y.drop(columns=['N'],axis=1)

In [5]:
y

    Y
0   0
1   0
2   0
3   0
4   0
.. ..
95  1
96  1
97  1
98  1
99  1

[100 rows x 1 columns]

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler
stk=StandardScaler()
x_train=stk.fit_transform(x_train)
x_test=stk.fit_transform(x_test)

In [9]:
from sklearn.neighbors import KNeighborsClassifier

In [10]:
knn=KNeighborsClassifier(n_neighbors=4)

In [11]:
model=knn.fit(x_train,y_train.values.ravel())

In [12]:
y_predict=model.predict(x_test)

/home/fibonacci/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [13]:
y_predict

array([0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0], dtype=uint8)

In [14]:
from sklearn.metrics import accuracy_score

In [15]:
accuracy_score(y_test,y_predict)

0.8333333333333334

### Support Vector machine

used for both regression and classification problems

In [41]:
from sklearn.svm import SVC
model=SVC(kernel='linear')

In [42]:
model.fit(x_train,y_train.values.ravel())

SVC(kernel='linear')

In [43]:
y_preds=model.predict(x_test)

In [44]:
accuracy_score(y_test,y_preds)

0.8333333333333334